*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire document */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box;
  font-family: sans-serif; }

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */ }
  @media (max-width: 512px) {
    .navbar {
      justify-content: space-between; } }
  .navbar__logo__img {
    margin-top: 2px;
    width: 55px; }
  .navbar__links {
    display: flex;
    list-style: none;
    color: #bbb;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    .navbar__links__items {
      padding: 0 10px; }
    @media (max-width: 512px) {
      .navbar__links {
        display: none; } }
  .navbar__menu-right {
    display: flex;
    list-style: none;
    color: #bbb; }
    .navbar__menu-right__items {
      display: flex;
      align-items: center;
      padding: 0 5px; }
      .navbar__menu-right__items__more {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 512px) {
          .navbar__menu-right__items__more {
            display: none; } }
      .navbar__menu-right__items__search {
        width: 30px;
        height: 30px;
        margin: 0 3px;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 512px) {
          .navbar__menu-right__items__search {
            display: none; } }
      .navbar__menu-right__items__menu {
        width: 23px;
        height: 17px;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 512px) {
          .navbar__menu-right__items__menu {
            margin-right: .6rem; } }

.main-container {
  margin: 0 auto;
  width: 65%;
  padding: 5rem;
  background-color: #fff;
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */ }
  @media (max-width: 1024px) {
    .main-container {
      width: 100%;
      padding: 2rem; } }
  @media (max-width: 512px) {
    .main-container {
      padding: 8px; } }
  .main-container .title__header {
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: #1a1a1a;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 1024px) {
      .main-container .title__header {
        font-size: 32px;
        line-height: 38px; } }
    @media (max-width: 512px) {
      .main-container .title__header {
        font-size: 23px;
        line-height: 28px;
        margin-top: 3.5rem; } }
    .main-container .title__header__author {
      display: flex;
      align-items: center; }
      .main-container .title__header__author__img {
        width: 70px; }
      .main-container .title__header__author__caption {
        font-size: 15px;
        line-height: 23px;
        color: #737373;
        margin-left: 1rem; }
  .main-container .title__figure__video {
    display: flex;
    margin-top: 1rem; }
    .main-container .title__figure__video__img {
      margin: 0 auto;
      width: 100%;
      height: 100%; }
  .main-container .main-content {
    font-family: Helvetica, sans-serif;
    margin-top: 1rem; }
    .main-container .main-content__paragraph {
      font-size: 20px;
      font-weight: 100;
      line-height: 30px;
      margin-top: 1rem;
      color: #262626;
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 512px) {
        .main-container .main-content__paragraph {
          font-size: 18px; } }
    .main-container .main-content__sub-heading {
      margin-top: 1rem; }

.footer {
  font-size: 18px;
  font-weight: 100;
  line-height: 32px;
  letter-spacing: 1px;
  list-style: none;
  padding: 2rem;
  color: #B8B8B8;
  background-color: #0C0C0C; }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 1024px) {
      .footer__wrapper {
        width: 100%; } }
  .footer__figure {
    display: flex;
    flex: 0 0 100%;
    padding-top: 4rem; }
    .footer__figure__logo {
      width: 150px;
      height: 100%; }
  .footer__first__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__first__list {
        margin-right: 2rem; } }
    @media (max-width: 512px) {
      .footer__first__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__first__list__items {
      margin-top: 5px; }
      .footer__first__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__second__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__second__list {
        margin-right: 2rem; } }
    @media (max-width: 512px) {
      .footer__second__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__second__list__items {
      margin-top: 5px; }
      .footer__second__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__third__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__third__list {
        margin-right: 2rem; } }
    @media (max-width: 512px) {
      .footer__third__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__third__list__items {
      margin-top: 5px; }
      .footer__third__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__fourth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__fourth__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__fourth__list__items {
      margin-top: 5px; }
      .footer__fourth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__fifth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__fifth__list {
        margin-left: 2rem; } }
    @media (max-width: 512px) {
      .footer__fifth__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__fifth__list__items {
      margin-top: 5px; }
      .footer__fifth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__sixth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__sixth__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__sixth__list__items {
      margin-top: 5px; }
      .footer__sixth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__seventh__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__seventh__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__seventh__list__items {
      margin-top: 5px; }
      .footer__seventh__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__eighth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__eighth__list {
        flex: 0 0 50%;
        margin-right: 0; } }
    .footer__eighth__list__items {
      margin-top: 5px; }
      .footer__eighth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__nineth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__nineth__list {
        flex: 0 0 50%;
        margin-right: 0; } }
    .footer__nineth__list__items {
      margin-top: 5px; }
      .footer__nineth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__tenth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__tenth__list {
        flex: 0 0 50%;
        margin-right: 0; } }
    .footer__tenth__list__items {
      margin-top: 5px; }
      .footer__tenth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__eleventh__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__eleventh__list {
        flex: 0 0 50%;
        margin-right: 0; } }
    .footer__eleventh__list__items {
      margin-top: 5px; }
      .footer__eleventh__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__twelveth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__twelveth__list {
        flex: 0 0 50%;
        margin-right: 0; } }
    .footer__twelveth__list__items {
      margin-top: 5px; }
      .footer__twelveth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__thirteenth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__thirteenth__list {
        flex: 0 0 50%;
        margin-right: 0; } }
    .footer__thirteenth__list__items {
      margin-top: 5px; }
      .footer__thirteenth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__fourteenth__list {
    list-style: inherit;
    flex: 0 0 14%;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__fourteenth__list {
        flex: 0 0 50%;
        margin-right: 0; } }
    .footer__fourteenth__list__items {
      margin-top: 5px; }
      .footer__fourteenth__list__items:first-child {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 15px;
        color: #fff; }
  .footer__legal-wrapper {
    flex: 0 0 100%;
    font-weight: 800;
    padding-top: 1rem;
    list-style: inherit;
    color: #595959; }
    .footer__legal-wrapper__text {
      margin-top: 1rem; }
